/* Базовые стили */
body {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 1100px;
  position: relative;
}

/* ---------------- */
/* HEADER */
/* ---------------- */

.header {
  position: absolute;
  width: 1100px;
  height: 293px;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__link_main {
  position: absolute;
  width: 67px;
  height: 21px;
  left: 50px;
  top: 133px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.header__dot_lots {
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 130px;
  top: 142px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

.header__link_lots {
  position: absolute;
  width: 149px;
  height: 21px;
  left: 148.48px;
  top: 133px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.header__underline_lots {
  position: absolute;
  width: 151px;
  height: 1px;
  left: 148.48px;
  top: 155px;
  background-color: #000000;
}

.header__dot_about {
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 312px;
  top: 142px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

.header__link_about {
  position: absolute;
  width: 108px;
  height: 21px;
  left: 331.48px;
  top: 133px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.header__underline_about {
  position: absolute;
  width: 110px;
  height: 1px;
  left: 331.48px;
  top: 155px;
  background-color: #000000;
}

.header__logo {
  position: absolute;
  width: 148px;
  height: 105px;
  left: calc(50% - 148px/2 + 2px);
  top: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.header__phone {
  position: absolute;
  width: 239.48px;
  height: 24px;
  left: 810.52px;
  top: 95px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header__phone-underline {
  position: absolute;
  width: 131.71px;
  height: 1px;
  left: 810.52px;
  top: 119px;
  background-color: #000000;
}

.header__email {
  position: absolute;
  width: 239.48px;
  height: 24px;
  left: 810px;
  top: 119px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header__email-underline {
  position: absolute;
  width: 129.72px;
  height: 1px;
  left: 810px;
  top: 143px;
  background-color: #000000;
}

.header__address {
  position: absolute;
  width: 236.49px;
  height: 49px;
  left: 811px;
  top: 144px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* ---------------- */
/* COVER */
/* ---------------- */

.cover {
  position: absolute;
  width: 1100px;
  height: 757px;
  top: 293px;
  left: calc(50% - 550px);
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  width: 1000px;
  height: 385px;
  margin: 165px auto 0;
  z-index: 1;
}

.aligned-text {
  display: block;
  position: absolute;
  font-family: Raleway;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  height: 115px;
}

.aligned-text:first-child {
  width: 286px;
  top: 0;
  left: 0;
  text-align: left;
}

.aligned-text_center {
  width: 339px;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.aligned-text_right {
  width: 387px;
  top: 270px;
  right: 0;
  text-align: right;
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 1;
}

.cover__description-text {
  font-weight: normal;
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
}

/* ---------------- */
/* LOTS */
/* ---------------- */

.lots {
  position: absolute;
  width: 1052px;
  height: 723px;
  top: 1230px;
  left: 24px;
  padding: 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex-shrink: 0;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__title {
  position: absolute;
  width: 254px;
  left: 40px;
  z-index: 2;
  font-family: Raleway;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin: 0;
}

.card__text {
  position: absolute;
  width: 254px;
  left: 40px;
  z-index: 2;
  font-family: Raleway;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}

.card_type_film .card__title {
  height: 82px;
  top: 48px;
}

.card_type_film .card__text {
  height: 144px;
  top: 404px;
}

.card_type_book .card__title {
  height: 110px;
  top: 48px;
}

.card_type_book .card__text {
  height: 360px;
  top: 188px;
}

.card_type_picture .card__title {
  height: 110px;
  top: 48px;
}

.card_type_picture .card__text {
  height: 264px;
  top: 284px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 5px;
  color: #000;
  text-decoration: underline;
  font-weight: normal;
}

/* ---------------- */
/* ABOUT */
/* ---------------- */

.about {
  position: absolute;
  width: 1052px;
  height: 595px;
  top: 2073px;
  left: 24px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about__logo {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 35px;
  left: 47px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__column {
  position: absolute;
  width: 693px;
  height: 449px;
  top: 133px;
  left: 359px;
}

.about__title {
  position: absolute;
  width: 291px;
  height: 47px;
  top: 3px;
  left: 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
}

.about__text {
  position: absolute;
  width: 100%;
  top: 150px;
  left: 0;
  margin: 0;
}

.about__text p:first-child {
  width: 688px;
  height: 120px;
  margin: 0 0 24px 0;
  font-family: Raleway;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
}

.about__text p:last-child {
  width: 693px;
  height: 168px;
  margin: 0;
  font-family: Raleway;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
}

/* ---------------- */
/* FOOTER */
/* ---------------- */

.footer {
  position: absolute;
  width: 1100px;
  height: 180px;
  top: 2848px;
  left: calc(50% - 550px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__address {
  position: absolute;
  width: 264.57px;
  height: 98px;
  left: 50px;
  top: 0; /* Было 41px */
  font-style: normal;
  line-height: 24.3px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer__menu {
  position: absolute;
  width: 163.9px;
  height: 64px;
  left: 468.6px;
  top: 0; /* Было 58px */
  margin: 0;
  padding: 0;
}

.footer__social-list {
  position: absolute;
  width: 240px;
  height: 48px;
  left: 810px;
  top: 0; /* Было 66px */
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__menu-list-item {
  margin: 0;
}

.footer__menu-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}